<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css' />
    <link rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css' />
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3 col-xs-12">
          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false">
            {{#each menu}}
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="heading{{@index}}">
                <h4 class="panel-title">
                  <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{@index}}" aria-expanded="false" aria-controls="collapse{{@index}}">
                    {{category}}
                  </a>
                </h4>
              </div>
              <div id="collapse{{@index}}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading{{@index}}">
                <div class="list-group">
                  {{#each articles}}
                  <a href="/{{this.permalink}}" class="list-group-item">{{this.title}}</a>
                  {{/each}}
                </div>
              </div>
            </div>
            {{/each}}
          </div>
        </div>
        <div class="col-md-9 col-xs-12">
          {{{body}}}
        </div>
      </div>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </body>
</html>
