<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css' />
    <link rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css' />
  </head>
  <body>
    <div class="container-fluid">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header row">
            <a class="navbar-brand" href="/">Developer Guidelines</a>
          </div>
      
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <form class="navbar-form navbar-right" role="search">
              <div class="form-group">
                <input type="text" class="form-control typeahead tt-query" placeholder="Search Guidelines" autocomplete="off" spellcheck="false">
              </div>
              <button type="submit" class="btn btn-default">Search</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#">LillyWeb Service Site</a></li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
      <div class="row">
        <div class="col-md-3 col-sm-4 col-xs-12">
          <nav class="panel-group" id="accordion" role="tablist" aria-multiselectable="false">
            {{#each menu}}
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="heading{{@index}}">
                <h4 class="panel-title">
                  <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{@index}}" aria-expanded="{{active}}" aria-controls="collapse{{@index}}">
                    {{category}} <span class="badge pull-right">{{articles.length}}</span>
                  </a>
                </h4>
              </div>
              <div id="collapse{{@index}}" class="panel-collapse collapse {{addClass active "in"}}" role="tabpanel" aria-labelledby="heading{{@index}}">
                <div class="list-group">
                  {{#each articles}}
                  <a href="/{{this.permalink}}" class="list-group-item {{addClass active "active"}}">{{this.title}}</a>
                  {{/each}}
                </div>
              </div>
            </div>
            {{/each}}
          </nav>
        </div>
        <div class="col-md-9 col-sm-8 col-xs-12">
          {{{body}}}
        </div>
      </div>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="/scripts/typeahead.bundle.min.js"></script>
    <script src="/scripts/main.js"></script>
  </body>
</html>
